.header {
    background-color: #1f2937;
}

.top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 24px;
    color: #f9faf8
}

h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

li {
    margin: 0 8px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb
}

.media {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 18px;
    color: #e5e7eb;
    max-width: 400px;
}

img {
    background-color: gray;
}

.image {
    outline: solid red;
    min-width: 400px;
    min-height: 200px;
    margin: 0 32px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937
}

.info {
    display: flex;
    justify-content: space-around;
    outline: solid red;    
}

.card {
    outline: solid red;
    text-align: center;
}