body {
    display: flex;
    margin: 0;
    flex-direction: column;
}

.header, .footer {
    background-color: #1f2937;
}

.header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    padding-bottom: 75px;
}

.top-content {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: space-between;
    max-width: 860px;
}

h1 {
    font-size: 24px;
    color: #f9faf8
}

h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

li {
    margin-left: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb
}

button {
    border-radius: 8px;
    color: white;
    background-color: #3882f6;
}

button.buttonA {
    border: none;
}

button.buttonB {
    border: 1px solid white;
}

.media {
    display: flex;
    align-self: center;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap-reverse;
}



.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 18px;
    color: #e5e7eb;
    width: 400px;
    margin: 0;
    padding: 0;
}

.image {
    width: 400px;
    height: 200px;
    margin: 0 0 0 60px;
}

img {
    background-color: gray;
    max-width: auto;
    max-height: 200px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 75px;
}

h3 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937
}

.info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 200px;
    margin: auto;
}

.text {
    margin: 0 30px;
}

.body {
    background-color: #e5e7eb;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 75px 0;
}

.quote {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    color: #1f2937;
    width: 750px;
}

.bold {
    font-weight: bolder;
}

.words {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.notice-container {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.notice {
    margin: 75px;
    background-color: #3882f6;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: center;
    width: 800px;
    border-radius: 10px;
    color: #e5e7eb;
    padding: 50px;
    height: 50px;
}

.notice p {
    margin: 0;
    padding: 0;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: #e5e7eb;
    padding: 24px;
}

.copy {
    font-size: 18px;
}

